<a href="https://colab.research.google.com/github/EleniAthanasiadou1994/GIS/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import folium
import branca
import pandas as pd
print(folium.__file__)
print(folium.__version__)

/usr/local/lib/python3.6/dist-packages/folium/__init__.py
0.8.3

In [3]:
Ground_Replication = pd.read_csv("PLI_ground_replication.csv")

Ground_Replication.head()

              X             Y  Id    name       Type PLI   Area_km
0  12821.444207  21318.627335   9  Holmul  Pre-lidar   y  0.132514
1  11602.007612  19563.521595   9  Holmul  Pre-lidar   y  0.522244
2  10294.543352  17419.103481   9  Holmul  Pre-lidar   y  1.128794
3   6975.028077  18333.063571   9  Holmul  Pre-lidar   y  1.330541
4   9494.519395  14952.678332   9  Holmul  Pre-lidar   y  6.670637

In [0]:
location = Ground_Replication['X'].mean(), Ground_Replication['Y'].mean()
m = folium.Map(location=location,zoom_start=10)
for i in range(0,len(Ground_Replication)):
    folium.Marker([Ground_Replication['X'].iloc[i],Ground_Replication['Y'].iloc[i]]).add_to(m)

In [6]:
Ground_Replication_DEM = Ground_Replication[(Ground_Replication['name']=="Holmul")]

Ground_Replication_DEM.head()

              X             Y  Id    name       Type PLI   Area_km
0  12821.444207  21318.627335   9  Holmul  Pre-lidar   y  0.132514
1  11602.007612  19563.521595   9  Holmul  Pre-lidar   y  0.522244
2  10294.543352  17419.103481   9  Holmul  Pre-lidar   y  1.128794
3   6975.028077  18333.063571   9  Holmul  Pre-lidar   y  1.330541
4   9494.519395  14952.678332   9  Holmul  Pre-lidar   y  6.670637