<a href="https://colab.research.google.com/github/EleniAthanasiadou1994/GIS/blob/master/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import folium
import branca
import pandas as pd
print(folium.__file__)
print(folium.__version__)

/usr/local/lib/python3.6/dist-packages/folium/__init__.py
0.8.3

In [12]:
Ground_Replication = pd.read_csv("All_causeways_xy.csv")

Ground_Replication.head()

               X             Y  cat  Id         site       length
0 -112118.424528  17179.619417    1   0    La Corona   294.252640
1 -112778.961656  17293.150886    2   0    La Corona   505.954660
2   -8753.058397  28351.458558    3   0  San Bartolo  5536.499089
3  -10239.761170  30876.421320    4   0  San Bartolo   468.144275
4  -11268.999445  31759.433838    5   0  San Bartolo  1998.328937

In [0]:
location = Ground_Replication['X'].mean(), Ground_Replication['Y'].mean()
m = folium.Map(location=location,zoom_start=10)
for i in range(0,len(Ground_Replication)):
    folium.Marker([Ground_Replication['X'].iloc[i],Ground_Replication['Y'].iloc[i]]).add_to(m)

In [20]:
Ground_Replication_DEM = Ground_Replication[(Ground_Replication['site']=="La Corona")]

Ground_Replication_DEM.head()

               X             Y  cat  Id       site     length
0 -112118.424528  17179.619417    1   0  La Corona  294.25264
1 -112778.961656  17293.150886    2   0  La Corona  505.95466